body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

a:hover {
    color: hotpink;
  }

.header{
  font-size: large;
  color: darkorange;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#intro{
  border: 4px darkblue double;
}